@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.background {
    display: flex;
    justify-content: center;
    /*border: 2px solid red;*/
    background-size: cover;
    width: 100%;
}

.logo {
    height: 90px;
    width: 300px;
    /*border: 2px solid pink;*/
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(186,206,229);
background: linear-gradient(111deg, rgba(186,206,229,1) 0%, rgba(186,206,229,1) 47%, rgba(255,255,255,1) 100%);
    /*border: 1px solid orange;*/
    height: 100px;
    width: 100%;
}

.explorar, .informacoes, .participar {
    /*border: 2px solid blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
   
}

.cardTitle {
    display:flex;
    justify-content: center;
}



