.cardsContainer {
    display: flex;
    justify-content: center;
    /*border: 2px solid red;*/
    height: auto;
    width: 100%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    height: 200px;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    background: rgb(255,255,255);
background: linear-gradient(208deg, rgba(255,255,255,1) 59%, rgba(139,187,255,0.3449754901960784) 76%, rgba(49,100,173,0.4290091036414566) 100%);
}

.hiddentext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /*border: 2px solid pink;*/
    position: absolute;
    color: white;
    opacity: 0;
}

.hiddentext:hover {
    opacity: 1;
}

.cardtext {
    /*border: 2px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #3164ad;
}


.cards:hover {
    transition: 500ms;
    -webkit-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.54);
}

/* Estilos padrão */
.licitacoes,
.fornecedores,
.registro,
.contratos,
.dispensas,
.legislacao {
    width: 260px;
    height: 200px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Estilos para o elemento superior */
.licitacoes::before,
.fornecedores::before,
.registro::before,
.contratos::before,
.dispensas::before,
.legislacao::before {
    /*border: 2px solid magenta;*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    /* Inicialmente transparente */
    transition: opacity 0.5s ease-in-out;
    /* Transição de 0.5 segundos na opacidade */
}

/* Quando hover, torna o elemento superior opaco */
.licitacoes:hover::before {
    opacity: 1;
    background-image: url(../assets/licitacoes.png);
    filter: blur(1.5px);
    filter: brightness(0.5);
    
}

.fornecedores:hover::before {
    opacity: 1;
    background-image: url(../assets/fornecedores.png);
    filter: blur(1.5px);
    filter: brightness(0.5);
}

.registro:hover::before {
    opacity: 1;
    background-image: url(../assets/registrodeprecos.png);
    filter: blur(1.5px);
    filter: brightness(0.5);
}

.contratos:hover::before {
    opacity: 1;
    background-image: url(../assets/contratos.png);
    filter: blur(1.5px);
    filter: brightness(0.5);
}

.dispensas:hover::before {
    opacity: 1;
    background-image: url(../assets/dispensas.png);
    filter: blur(1.5px);
    filter: brightness(0.5);
}

.legislacao:hover::before {
    opacity: 1;
    background-image: url(../assets/legislacao.png);
    filter: blur(1.5px);
    filter: brightness(0.5);
}